# EDA

## Data

### Change DIR

### Imports

In [ ]:
import pandas as pd

from Favorita_TSA.data_loader import parquet_loader

### Data Overview

In [4]:
import os
from pathlib import Path

print("Current working directory:", os.getcwd())

PROJECT_ROOT = Path("..").resolve()

# Setze das Arbeitsverzeichnis auf das Hauptprojektverzeichnis
os.chdir(f"{PROJECT_ROOT}")

# Überprüfe, ob das Verzeichnis korrekt gesetzt wurde
print("Current working directory:", os.getcwd())

Current working directory: c:\Users\Kiko\Desktop\Code\tutoring\Group-Work-Favorita-Forecasting\notebooks
Current working directory: C:\Users\Kiko\Desktop\Code\tutoring\Group-Work-Favorita-Forecasting

In [5]:
df_oil = parquet_loader("oil")
df_items = parquet_loader("items")
df_holidays = parquet_loader("holidays_events")
df_stores = parquet_loader("stores")
df_transactions = parquet_loader("transactions")
df_train = parquet_loader("train")

In [16]:
print(df_items.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_nbr    4100 non-null   int64
 1   family      4100 non-null   object
 2   class       4100 non-null   int64
 3   perishable  4100 non-null   int64
dtypes: int64(3), object(1)
memory usage: 128.3+ KB
None

In [16]:
df_train

                  id       date  store_nbr  item_nbr  unit_sales  onpromotion
0                  0 2013-01-01         25    103665         7.0         <NA>
1                  1 2013-01-01         25    105574         1.0         <NA>
2                  2 2013-01-01         25    105575         2.0         <NA>
3                  3 2013-01-01         25    108079         1.0         <NA>
4                  4 2013-01-01         25    108701         1.0         <NA>
...              ...        ...        ...       ...         ...          ...
125497035  125497035 2017-08-15         54   2089339         4.0        False
125497036  125497036 2017-08-15         54   2106464         1.0         True
125497037  125497037 2017-08-15         54   2110456       192.0        False
125497038  125497038 2017-08-15         54   2113914       198.0         True
125497039  125497039 2017-08-15         54   2116416         2.0        False

[125497040 rows x 6 columns]

In [14]:
df_train[df_train["unit_sales"] == 89440]

                id       date  store_nbr  item_nbr  unit_sales  onpromotion
93189596  93189596 2016-10-07         39   1976284     89440.0        False

In [15]:
df_items[df_items["item_nbr"] == 1976284]

      item_nbr family  class  perishable
3434   1976284  MEATS   2302           1

In [12]:
df = pd.read_csv("./data/raw/train.csv")

C:\Users\Kiko\AppData\Local\Temp\ipykernel_31140\3069004560.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/raw/train.csv")

125497040