# EDA

## Data

### Change DIR

### Imports

In [2]:
import pandas as pd

from Favorita_TSA.data_loader import parquet_loader
from Favorita_TSA.dataset import Dataset

### Data Overview

In [3]:
import os
from pathlib import Path

print("Current working directory:", os.getcwd())

PROJECT_ROOT = Path("..").resolve()

# Setze das Arbeitsverzeichnis auf das Hauptprojektverzeichnis
os.chdir(f"{PROJECT_ROOT}")

# Überprüfe, ob das Verzeichnis korrekt gesetzt wurde
print("Current working directory:", os.getcwd())

Current working directory: /Users/patrickhederer/Python Projects/Group-Work-Favorita-Forecasting/notebooks
Current working directory: /Users/patrickhederer/Python Projects/Group-Work-Favorita-Forecasting

In [4]:
df_oil = parquet_loader(Dataset.OIL)
df_items = parquet_loader(Dataset.ITEMS)
df_holidays = parquet_loader(Dataset.HOLIDAYS_EVENTS)
df_stores = parquet_loader(Dataset.STORES)
df_transactions = parquet_loader(Dataset.TRANSACTIONS)
df_train = parquet_loader(Dataset.TRAIN)

BASE_DIR data/processed/train

In [16]:
print(df_items.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   item_nbr    4100 non-null   int64
 1   family      4100 non-null   object
 2   class       4100 non-null   int64
 3   perishable  4100 non-null   int64
dtypes: int64(3), object(1)
memory usage: 128.3+ KB
None

In [16]:
df_train

                  id       date  store_nbr  item_nbr  unit_sales  onpromotion
0                  0 2013-01-01         25    103665         7.0         <NA>
1                  1 2013-01-01         25    105574         1.0         <NA>
2                  2 2013-01-01         25    105575         2.0         <NA>
3                  3 2013-01-01         25    108079         1.0         <NA>
4                  4 2013-01-01         25    108701         1.0         <NA>
...              ...        ...        ...       ...         ...          ...
125497035  125497035 2017-08-15         54   2089339         4.0        False
125497036  125497036 2017-08-15         54   2106464         1.0         True
125497037  125497037 2017-08-15         54   2110456       192.0        False
125497038  125497038 2017-08-15         54   2113914       198.0         True
125497039  125497039 2017-08-15         54   2116416         2.0        False

[125497040 rows x 6 columns]

In [14]:
df_train[df_train["unit_sales"] == 89440]

                id       date  store_nbr  item_nbr  unit_sales  onpromotion
93189596  93189596 2016-10-07         39   1976284     89440.0        False

In [15]:
df_items[df_items["item_nbr"] == 1976284]

      item_nbr family  class  perishable
3434   1976284  MEATS   2302           1

In [12]:
df = pd.read_csv("./data/raw/train.csv")

C:\Users\Kiko\AppData\Local\Temp\ipykernel_31140\3069004560.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./data/raw/train.csv")

125497040

In [4]:
df_holidays[df_holidays["locale"] == "Regional"]

,date,type,locale,locale_name,description,transferred
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
7,2012-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
23,2012-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
24,2012-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
47,2013-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
58,2013-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
76,2013-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
77,2013-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
96,2014-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
112,2014-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
139,2014-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
140,2014-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
165,2015-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
177,2015-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
193,2015-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
194,2015-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
216,2016-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
259,2016-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
278,2016-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
279,2016-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False
302,2017-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
315,2017-06-25,Holiday,Regional,Imbabura,Provincializacion de Imbabura,False
334,2017-11-06,Holiday,Regional,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,False
335,2017-11-07,Holiday,Regional,Santa Elena,Provincializacion Santa Elena,False

In [10]:
for element in Dataset:
    print(element, "\n", parquet_loader(element).head(), "\n")

Dataset.OIL
          date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

Dataset.ITEMS
    item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

Dataset.HOLIDAYS_EVENTS
          date     type    locale locale_name                    description  \
0  2012-03-02  Holiday     Local       Manta             Fundacion de Manta
1  2012-04-01  Holiday  Regional    Cotopaxi  Provincializacion de Cotopaxi
2  2012-04-12  Holiday     Local      Cuenca            Fundacion de Cuenca
3  2012-04-14  Holiday     Local    Libertad      Cantonizacion de Libertad
4  2012-04-21  Holiday     Local    Riobamba      Cantonizacion de Riobamba

   transferred
0        False
1        False
2        False
3        False
4        False

Dataset.STORES
    store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

Dataset.TRANSACTIONS
          date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

BASE_DIR data\processed\train
Dataset.TRAIN
    id       date  store_nbr  item_nbr  unit_sales  onpromotion
0   0 2013-01-01         25    103665         7.0         <NA>
1   1 2013-01-01         25    105574         1.0         <NA>
2   2 2013-01-01         25    105575         2.0         <NA>
3   3 2013-01-01         25    108079         1.0         <NA>
4   4 2013-01-01         25    108701         1.0         <NA>

Dataset.TEST
           id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False

## Join tables

(df_train + df_stores + df_items + df_holiday + df_oil) mergen
 - date
 - store_nbr 
 - city
 - state
 - item_nbr
 - family
 - class
 - perishable
 - type
 - locale
 - dcoilwtico

(df_transcation + df_stores) mergen
 - date
 - store_nbr
 - transactions
 - city
 - state

In [5]:
df_merged = df_train.merge(df_stores, on="store_nbr", how="left")

In [7]:
display(df_merged)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,city,state,type,cluster
0,0,2013-01-01,25,103665,7.0,<NA>,Salinas,Santa Elena,D,1
1,1,2013-01-01,25,105574,1.0,<NA>,Salinas,Santa Elena,D,1
2,2,2013-01-01,25,105575,2.0,<NA>,Salinas,Santa Elena,D,1
3,3,2013-01-01,25,108079,1.0,<NA>,Salinas,Santa Elena,D,1
4,4,2013-01-01,25,108701,1.0,<NA>,Salinas,Santa Elena,D,1
...,...,...,...,...,...,...,...,...,...,...
125497035,125497035,2017-08-15,54,2089339,4.0,False,El Carmen,Manabi,C,3
125497036,125497036,2017-08-15,54,2106464,1.0,True,El Carmen,Manabi,C,3
125497037,125497037,2017-08-15,54,2110456,192.0,False,El Carmen,Manabi,C,3
125497038,125497038,2017-08-15,54,2113914,198.0,True,El Carmen,Manabi,C,3
125497039,125497039,2017-08-15,54,2116416,2.0,False,El Carmen,Manabi,C,3

In [8]:
df_merged = df_merged.drop(columns=["type", "cluster"])

In [10]:
df_merged

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,city,state
0,0,2013-01-01,25,103665,7.0,<NA>,Salinas,Santa Elena
1,1,2013-01-01,25,105574,1.0,<NA>,Salinas,Santa Elena
2,2,2013-01-01,25,105575,2.0,<NA>,Salinas,Santa Elena
3,3,2013-01-01,25,108079,1.0,<NA>,Salinas,Santa Elena
4,4,2013-01-01,25,108701,1.0,<NA>,Salinas,Santa Elena
...,...,...,...,...,...,...,...,...
125497035,125497035,2017-08-15,54,2089339,4.0,False,El Carmen,Manabi
125497036,125497036,2017-08-15,54,2106464,1.0,True,El Carmen,Manabi
125497037,125497037,2017-08-15,54,2110456,192.0,False,El Carmen,Manabi
125497038,125497038,2017-08-15,54,2113914,198.0,True,El Carmen,Manabi
125497039,125497039,2017-08-15,54,2116416,2.0,False,El Carmen,Manabi

In [11]:
df_merged = df_merged.merge(df_items, on="item_nbr", how="left")

In [15]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int16
 3   item_nbr     int32
 4   unit_sales   float64
 5   onpromotion  boolean
 6   city         object
 7   state        object
 8   family       object
 9   class        int64
 10  perishable   int64
dtypes: boolean(1), datetime64[ns](1), float64(1), int16(1), int32(1), int64(3), object(3)
memory usage: 8.4+ GB

In [16]:
df_holidays["date"] = df_holidays["date"].astype("datetime64[ns]")

In [17]:
df_merged = df_merged.merge(df_holidays, on="date", how="left")

In [18]:
df_merged = df_merged.drop(columns=["locale_name", "description"])

In [20]:
df_oil["date"] = df_oil["date"].astype("datetime64[ns]")

In [21]:
df_merged = df_merged.merge(df_oil, on="date", how="left")

In [22]:
df_merged

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,city,state,family,class,perishable,type,locale,transferred,dcoilwtico
0,0,2013-01-01,25,103665,7.0,<NA>,Salinas,Santa Elena,BREAD/BAKERY,2712,1,Holiday,National,False,NaN
1,1,2013-01-01,25,105574,1.0,<NA>,Salinas,Santa Elena,GROCERY I,1045,0,Holiday,National,False,NaN
2,2,2013-01-01,25,105575,2.0,<NA>,Salinas,Santa Elena,GROCERY I,1045,0,Holiday,National,False,NaN
3,3,2013-01-01,25,108079,1.0,<NA>,Salinas,Santa Elena,GROCERY I,1030,0,Holiday,National,False,NaN
4,4,2013-01-01,25,108701,1.0,<NA>,Salinas,Santa Elena,DELI,2644,1,Holiday,National,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127970252,125497035,2017-08-15,54,2089339,4.0,False,El Carmen,Manabi,GROCERY I,1006,0,Holiday,Local,False,47.57
127970253,125497036,2017-08-15,54,2106464,1.0,True,El Carmen,Manabi,BEVERAGES,1148,0,Holiday,Local,False,47.57
127970254,125497037,2017-08-15,54,2110456,192.0,False,El Carmen,Manabi,BEVERAGES,1120,0,Holiday,Local,False,47.57
127970255,125497038,2017-08-15,54,2113914,198.0,True,El Carmen,Manabi,CLEANING,3040,0,Holiday,Local,False,47.57
127970256,125497039,2017-08-15,54,2116416,2.0,False,El Carmen,Manabi,GROCERY I,1060,0,Holiday,Local,False,47.57